<?php

// Configurações do Token JWT
define('SECRET_KEY', ''); // Defina uma chave secreta para gerar o token
define('EXPIRE_TOKEN', 3600);
define('EXPIRE_REFRESH_TOKEN', 18000);

// Configurações do Bucket S3
define('S3_REGION', ''); // Região de disponibilidade. Ex.: us-east-1
define('S3_VERSION', ''); // Versão. Ex.: latest
define('S3_CREDENTIAL_KEY', ''); // Chave gerada pela aws para acessar o bucket
define('S3_CREDENTIAL_SECRET', ''); // Chave secreta gerada pela aws para acessar o bucket
define('S3_BUCKET', ''); // Nome do bucket
define('S3_KEY_CUSTOMER_PROFILES', 'customer-profiles'); // Nome da asta de imagens do cliente
define('S3_KEY_BOOK_COVERS', 'book-covers'); // Nome daasta de imagens do livro
define('S3_ACL', ''); // Tipo do ACL. Ex.: private